:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --text-color: #ffffff;
  --primary-backgrong-color: #e5e5e5;
  --secondary-backgroung-color: #2f303a;
  --backgroung-color: #f5f4fa;
  --accent-color: #2196f3;
  --contacts-footer-color: rgba(255, 255, 255, 0.6);
}

.body {
  color: #212121;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
/* navigation */
.logo-link {
  color: var(--accent-color);
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.site-nav {
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 00.02em;
}
.site-nav .link {
  color: var(--primary-text-color);
  letter-spacing: 00.02em;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.contacts {
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.contact-link {
  color: var(--secondary-text-color);
  font-style: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}
/* hero */
.hero {
  background-color: var(--secondary-backgroung-color);
}
.hero > .hero-title {
  color: var(--text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}
/* What we do */
.services {
  background-color: var(--primary-backgrong-color);
}
/* team */
.team {
  background-color: var(--backgroung-color);
}
/* sections content */
.section-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.section-text,
.text {
  color: var(--secondary-text-color);
}
.section-text {
  font-size: 14px;
  line-height: 1.7;
}
.service-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.order {
  background-color: var(--accent-color);
  color: var(--text-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
}
.list {
  list-style: none;
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
/* footer */
.contact-info {
  background-color: var(--secondary-backgroung-color);
}
.address {
  color: var(--text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}
.contact-footer {
  color: var(--contacts-footer-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
}
/* PORTFOLIO */
.projects-filter {
  background-color: var(--primary-backgrong-color);
}
.filter-button {
  background-color: var(--backgroung-color);
  color: var(--primary-text-color);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
}
.filter-button:hover,
.filter-button:focus {
  background-color: var(--accent-color);
  color: var(--text-color);
}
.item {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.our-projects .text {
  font-size: 16px;
  line-height: 1.9;
}
